header {
    background-color: #052a58;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
 
}

.logo img {
    width: 180px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none; 
    color: #ffc836; 
    padding: 26px 10px; 
}

nav ul li a:hover {
    background-color: #ffc836; 
    color: #052a58; 
}

.oculto {
    display: none;
}


.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-top: 20px; 
}

.contenido h1,
.contenido p {
    margin: 40px;
}

#entradas-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 200px; 
}

article {
    flex: 0 0 calc(26% - 30px);
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative; 
    transition: box-shadow 0.3s;
}

article:hover {
    background-color: #052a58; 
    color: #ffc836; 
}

article img {
    width: 400px; 
    height: 200px; 
    z-index: 2; 
}
article h2,
article p,
article a {
    margin: 15px;
}
article a {
    display: block;
    text-align: left;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

article a:hover {
    text-decoration: underline;
}


/* Estilos para el modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe; 
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #000; 
    width: 20%; 
    text-align: center; 
}

#loginForm {
    display: inline-block; 
    text-align: left;
    margin-bottom: 20px; 
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
    text-align:left; 
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #f0f0f0;
    color: #000; 
    padding: 10px 20px;
    border: none;
    border: 1px solid #000000;
    cursor: pointer;
    transition: transform 0.2s; 
}

button:hover {
    transform: scale(1.05); 
}



/* Estilos para los campos de formulario */
.form-group {
    margin-bottom: 15px;
    display: flex; 
    align-items: center; 
}

.form-group label {
    flex: 1; 
    margin-right: 10px; 
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.footer {
    background-color: #052a58;
    margin-top: auto; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: #fff;
    text-align: center;
    margin: 0;
}

.footer-background {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}
